tmp/cats-v-dogs/testing/cats/*
tmp/cats-v-dogs/testing/dogs/*
tmp/cats-v-dogs/training/dogs/*
tmp/cats-v-dogs/training/cats/*
tmp/files/*

*.zip

venv

downloads

files

model

inception_v3_weights_tf_dim_ordering_tf_kernels_notop.h5